/*****
*** Button styles
*/

@define-mixin btn-base {
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
}

/* TODO - use typographic scale for button paddings? */
.btn{
	@mixin btn-base;
	padding: 0.5em 1em;	
}

/* size classes */
.btn--small{
	padding: 0.25em 0.5em;
}

.btn--large{
	padding: 1em 1.5em;
}

/* UI hierarchy classes */
.btn--positive{
	background: $colorPrimary;
	color: $colorTypeLight;

	a:link&, a:visited&{
		color: $colorTypeLight;
	}
}

.btn--neutral{}

.btn--negative{}
