/*****
*** Form styles
*/

/* Resets */

fieldset{
	border:none;
	padding:0;
}
input, textarea{
	border:2px solid rgb(200,200,200);
	max-width:100%;
	&:focus{
		outline: none;
		border-color: $colorSecondary;
	}
}
input[type=text], input[type=url], input[type=email], input[type=password], input[type=tel], textarea{
	-webkit-appearance: none; -moz-appearance: none;
	 border-radius: $uiBorderRadius; 
}
input[type='submit']{
	/* @extend .btn; */
	border:none;
}

/* Custom Styles */

.form-element {
	margin-bottom: 1em;
}
