/* Size Classes & vertical rhythm*/

.alpha-1, h1 {
	@mixin typesize 3
}
.beta-1, h2 {
	@mixin typesize 2
}
.gamma-1, h3 {
	@mixin typesize 1
}
.delta-1, h4, body {
	@mixin typesize 0
}
.epsilon-1, h5{
	@mixin typesize -1
}
.zeta-1, h6 {
	@mixin typesize -2
}

h1,h2,h3,h4,h5,h6,p{
	/*TODO - margin should be responsive */
	margin:0 0 fontSize(0);
}

/* Basic Settings */
html{
	font-size: 62.5%;
}

body{
	font-family: $baseFont;
	line-height:1.7;
	color: $colorTypeDark;
}

/* primary headers */
h1,h2,h3{
	font-family: $headerFont;
	line-height:1.3;
}

/* text elements */
p, span, li, td, input, textarea, label, address, code, pre, dt, dd, button{
	font-family: inherit;
}

/* links */
a{
	color: $colorPrimary;
	cursor:pointer;
	font-size:inherit;
	font-family: inherit;
	&:visited{
		color: lighten($colorPrimary, 0.2);
	}
	&:hover{
		color: lighten($colorPrimary, 0.4);
	}
	&:active{}
}
span{
	font-size: inherit;
}

/* lists */
ol{
	ol{
		list-style-type: lower-alpha;
		ol{list-style-type: lower-roman;}
	}
}