.wrapper {
	padding: 1em;
	background: rgba(25,25,25,1);
	transition: transform 0.25s $uiFancyEasing;
}

.header {
	color: $colorTypeLight;
}




.masongrid {
	margin-top: 2em;
	width: 100%;

	display: flex;
	flex-wrap: wrap;
}

.masongrid__item {
	flex-basis: 50%;
	width: 50%;
	padding:0 22px 22px 0;

	img {
		width: 100%;
	}
}

@media screen and getBreakpoint(tabStart) {
	.masongrid__item {
		flex-basis: 33.333%;
		width: 33.333%;
	}
}

@media screen and getBreakpoint(deskStart) {
	.masongrid__item {
		flex-basis: 25%;
		width: 25%;
	}
}

.imagewrap {
	position: relative;
	img {
		display: block;
		transition: transform 0.25s ease-out;
	}
	&:hover {
		img {
			transform: scale(1.05);
		}
	}
}
.imagewrap__label {
	position: absolute;
	z-index: 1;
	right: 0;	bottom: 0;	left: 0;
	
	color: $colorTypeLight;
	@mixin typesize -1;
	font-style: italic;
	margin-top: 1rem;
	margin-bottom: 0;
	padding: 20rem 2rem 3rem;

	opacity: 0;
	transition: opacity 0.25s ease-out;

	&::after{
		content: "";
		position: absolute;
		top: 0;	right: 0;	bottom: 0;	left: 0;
		z-index: -1;

		background: linear-gradient(to bottom, transparent,rgba(20,20,20,0.6), rgba(20,20,20,1));
	}

	.imagewrap:hover & {
		opacity: 1;
	}
}



.loader {
	display: flex;
	color: white;
	margin: 4rem 1em;
	text-align: center;
	@mixin typesize 5;
	
	.anim {
		margin: auto;
		span{
			animation: pulse 0.8s ease-out;
			animation-iteration-count: infinite;
			&:nth-child(2){
				animation-delay: 0.25s;
			}
			&:nth-child(3){
				animation-delay:0.5s;
			}
		}
	}
}

@keyframes pulse{
	0%{
		opacity:0;
	}
	100%{
		opacity:1;
	}
}