.navtray {
	--navtrayWidth: 29rem; /* TODO - no magic numbers... */
	position: fixed;
	top: 0;	right:0;	bottom: 0;
	z-index: 10;
	width: var(--navtrayWidth);
	transform: translate(var(--navtrayWidth), 0);

	background: rgba(25,25,25,1);
	box-shadow: 0 0 0 transparent;
	overflow-y: auto;
	padding: 2em;

	transition: transform 0.25s $uiFancyEasing;

	&.navtray--open {
		/*box-shadow: $uiBoxShadow;*/
		border-left-color:$colorSecondary;
		transform: translate(0, 0);

		~ .wrapper {
			transform: translateX(-27rem);
		}
	}


	.icon {
		margin-top: 2em;
		svg{
			width: 15rem;
			height: 10rem;
			transform:translate(-1em,0);

			path {
				fill: $colorTypeLight;
				transition: fill 0.15s ease-out;
			}

			&:hover {
				path {
					fill: $colorSecondary;
				}
			}
		}
	}

	nav {
		ul {
			list-style: none;
			padding: 0;
		}
		a {
			text-decoration: none;
			color: $colorTypeLight;
			@mixin typesize 2;

			transition: color 0.15s ease-out;

			&:hover {
				color: $colorPrimary;
			}
		}
	}
}

.navtrigger {
	position: fixed;
	top: 1em;	right: 1em;
	z-index: 15;

	cursor: pointer;
	padding: 0.6rem;

	.burger {
		span {
			display: block;
			width: 3.74rem;
			height: 0.7rem;
			background: $colorTypeLight;

			transition: transform 0.25s $uiFancyEasing, opacity 0.25s $uiFancyEasing;

			&:not(:first-child){
				margin-top: 0.5rem;
			}
			&:first-child {
				transform-origin: top left;
			}
			&:nth-child(3) {
				transform-origin: bottom left;
			}
		}
	}

	&.navtrigger--open {
		.burger {
			span {
				&:first-child {
					transform: rotate(45deg);
				}
				&:nth-child(2) {
					opacity: 0;
				}
				&:nth-child(3) {
					transform: rotate(-45deg);
				}
			}
		}
	}
}