extends ../layout.pug.tmpl

block content
	div(style="max-width:650px; margin:0 auto;")
		h1 Lorem ipsum dolor sit amet
		h2 Consectetur adipisicing elit, sed do eiusmod
		h3 Tempor incididunt ut labore et dolore magna aliqua. 
		h4 Ut enim ad minim veniam
		p Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		a(href="#") A Link
		div
			a.btn.btn--positive(href="#") A button
		div
			img(src=require('../images/serious.jpg'))
			img(src=require('../images/love.png'))